[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
anthropic = "*"
python-decouple = "*"
djangorestframework = "*"
requests = "*"
drf-spectacular = "*"
django-cors-headers = "*"
httpx = "*"
python-dotenv = "*"

[dev-packages]

[requires]
python_version = "3.13"
